/*CSS File for Navigation Bar*/
@import url('https://fonts.googleapis.com/css?family=Chicle');

.navbar-brand{
    font-weight: bolder;
    font-size: 2em !important;
    font-family: 'Chicle', cursive;
    color: #1a1a1a !important;
}

.navbar-brand img{
    width: 1em !important;
}

.nav-item{
    color: #1a1a1a !important;
    font-weight: bold;
}

.cart{
    color: grey !important;
}

.logo-text{
    color: red;
}

.nav-link{
    color: black !important;
}

.active .nav-link{
    color: red !important;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu a{
    text-decoration: none;
    color: black !important;
}