@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
html {
    height: 100% !important;
}

body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 700px;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#jabout {
    background-color: #1a1a1a !important;
    color: #fff !important;
    margin: 1em auto !important;
}

.aucard {
    border-radius: 2em !important;
    font-family: 'Montserrat', sans-serif;
}

#uinfo {
    margin-bottom: 0px;
    position: relative;
    background: none;
    color: #DEDDDB;
}

#usimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/about/hcmus.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

input[type=email],
input[type=password],
input[type=text],
input[type=number] {
    width: 55%;
    padding: 12px 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: lightgrey;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#signup-form {
    display: none;
}

.login-img {
    background-image: url('../img/login/login-background.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.signup-img {
    background-image: url('../img/login/signup-background.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.carousel img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#credit a {
    text-decoration: none;
    color: whitesmoke;
}

#credit span {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
}

.spec-product {
    font-weight: bold;
    font-size: 2em;
    color: black;
    font-family: 'Muli', sans-serif;
}

.image-category:hover .overlay {
    opacity: 0.9;
}

.image-category {
    padding: 0px !important;
    margin: 0px !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-category img {
    width: 100% !important;
}

.image-category span {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.7em;
}

.news-title {
    font-size: 3em;
    font-family: 'Roboto Slab', sans-serif;
}

.news-img {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 50%;
    align-items: center;
}

.news-para {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.news-url {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.row .card {
    background-color: whitesmoke;
}

.row img {
    width: 100% !important;
}

.product-info {
    text-decoration: none;
    color: black;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none !important;
}

.nav-tabs .active {
    color: red !important;
}

.product-img {
    width: 100%;
}

.product-attr {
    font-size: 1.1em;
    font-weight: bold;
}

.product-detail {
    font-size: 1em;
}

.product-card {
    height: 100% !important;
}

.acc-detail {
    font-weight: bold;
    font-size: 1.1em;
}

.comment-text {
    width: 100%;
    resize: none;
}

#category-tab {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.order-img-holder{
    width: 100%;
}